html
  head
    title= 'GAMEのページ（仮）'
    include includes/style.pug
  body
    h1.title.is-3 Gameページ（仮）
    .content
      p= message + ", " + message2
      p= qcount + " ： " + message3
      form(method='post', action = '/game')
        .field
          label.label 答え
          p.control
            input#answer.input(type='number' name='answer')    
            br
          input.button.is-primary.is-outlined(type='submit', value='OK')