html
  head
    title= title
    include includes/style.pug
  body
    h1.title.is-3 Homeページ（仮）
    .content
      h3= message
    form(method='post', action='/game')
      p
        label.label 四則演算
        select.select(name='calctype')
          option(value='add') たしざん
          option(value='subtract') ひきざん
          option(value='multiple') かけざん
          option(value='divide') わりざん
        br
        label.label 難しさ        
        select.select(name='difficulty')
          option(value='easy') かんたん
          option(value='normal') ふつう
        br
        button.button.is-primary.is-outlined(type='submit') ゲームスタート
        input.button.is-primary.is-outlined(type='button', onClick="location.href='/'", value='戻る')
