html    
    head
        title= 'Resultページ（仮）'
        include includes/style.pug
    body
        p= result
        form(method='POST', action='/game')
            input(type='submit', name='btn', value='もう一度')
        form(method='POST', action='/home')
            input(type='submit', name='btn', value='戻る')
            