html
  head
    title= 'Scores'
    include includes/style.pug
  body
    h1.title.is-3 Scoresページ（仮）
    table.table
        thead
            |参考 http://bulma.io/documentation/elements/table/
            th
                abbr(title='Seq') 順位
            th
                abbr(title='Type') タイプ
            th
                abbr(title='Difficulty') 難しさ
            th
                abbr(title='Time') タイム
            th
                abbr(title='Time') 名前
        tfoot
            th
                abbr(title='Seq') 順位
            th
                abbr(title='Type') タイプ
            th
                abbr(title='Difficulty') 難しさ
            th
                abbr(title='Time') タイム
            th
                abbr(title='Time') 名前
        tbody
            tr
                th 1
                td Add
                td Easy
                td 00:05:012
                td 俺
            tr
                th 2
                td Add
                td Easy
                td 00:06:214
                td あなた
